<!DOCTYPE html>
<html lang = "en-us">
  <head>
      <meta charset="utf-8">
<title>JuniorDevbook</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="assets/css/reset.css">
<link rel="stylesheet" type="text/css" href="assets/css/style.css">
</head>

  <body>
    <header><strong> JuniorDevBook </header></strong>

    <p>Connect with your fellow developers and your awesome projects
       you’ve created and get feedback from you peers.<p>
    <h1> Create Account</h1>
      <div class="createAccount">
      <form action="/create" method="post">
        <input type="text" name="first" placeholder="First Name" value="" class="name">
        <br>
        <br>
        <input type="text" name="last" placeholder="Last Name" value="" class="name">
        <br>
        <br>
        <input type="email" name="email" placeholder="Email Address" value="" id="email">
        <br>
        <br>
        <input type="text" name="username" placeholder="Username" value="" id="email">
        <br>
        <br>
        <input type="text" name="password" placeholder="Enter Password" value="" id="password">
        <br>
        <br>
        <input type="text" name="image" placeholder="Upload Image Link" value="" id="link">
        <br>
        <br>
        <input type="submit" id="submit">
      </div>
  </body>
</html>



