<!DOCTYPE html>
<html lang = "en-us">
  <head>
      <meta charset="utf-8">
<title>JrDevbook</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="assets/css/style.css">
</head>

  <body>
<div class="header center-block text-center" id='logo'>
            <div class='form-inline'><img src="http://blog.flamingtext.com/blog/2017/06/14/flamingtext_com_1497479233_446317805.png" border="0"></div>
            <a href='/logout'> <img src='assets/img/JuniorDevbook-Icon.png' alt='robot' style='width:40px;height:50px;' id='robot'></a>
            
        </div>
<br>
<br>
<div class ='container text-center' id='missionstatement'>
    <h2 style="font-weight:bold">Connect with your fellow developers and your awesome projects
       you’ve created and get feedback from your peers.</h2></header></div>

    <h4 class ='text-center' style='color:orange'> Create Account</h4>
      <div class="container createAccount">
      <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
                <form action="/create" method="post">
        <input type="text" name="first" placeholder="First Name" value="" >
        <br>
        <br>
        <input type="text" name="last" placeholder="Last Name" value="" >
        <br>
        <br>
        <input type="email" name="email" placeholder="Email Address" value="" >
        <br>
        <br>
        <input type="text" name="username" placeholder="Username" value="">
        <br>
        <br>
        <input type="password" name="password" placeholder="Enter Password" value="" >
        <br>
        <br>
        <input type="text" name="image" placeholder="Upload Image Link" value="" >
        <br>
        <br>
        <input type="submit">
      </form>
        </div>
      </div>
      </div>
  </body>
</html>



