<% if (!user) { %>
    <p><a href="/login">log in</a></p>
    <p><a href="/create">create account</a></p>
    <% } else { %>
        <!DOCTYPE html>
        <html>
        <head>
            <meta charset="UTF-8">
            <title>News Feed</title>
            <link rel="stylesheet" href="../public/assets/css/newsfeed.css">
        </head>
<body>
    <div id="uno">
        <button><img src="assets/img/JuniorDevBook-icon.png" alt="robot" style="width:40px;height:50px;" id="robot"></button>
        <button><a rel="stylesheet" href="/logout">Log Out </a> </button>
    </div>
    <div id="dos">
        <div id="ichi">Personal Info
            <div id="personal"></div>
        </div>
        <div id="ni">Main News feed
            <form action="/post" method="POST">
                <input type="text" name="post" class="form-control" placeholder="Share what you want." id="two" style="font-size:26px;">
            </form>  
            <% for(var i in feed) { %>
                <div class="three">
                    <%=feed[i].post%>
                </div>
                        <% } %>
         </div>
         <div id="san">Trending News
          </div>
            </div>
        </body>

        </html>

        <% } %>