<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8">
            <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
            <!-- homepage stylesheet -->
            <link rel="stylesheet" href="assets/css/homepage.css">
            <title>Jr.DevBook</title>
        </head>
        <!-- Jr.DevBook Robot Logo -->
        <body>
       	<div class="container center-block text-center" id='userLogin'>
       		<div class="row">
       			<div class="col-xs-12"> 
       				<div>
                	<img src="assets/img/JuniorDevBook-icon.png" alt="
                robot" id="robotLogin">  
					<form action="/login" method="post">
						<div>
							<label>Username:</label>
							<input type="text" name="username"/><br/>
						</div>
						<div>
							<label>Password:</label>
							<input type="password" name="password"/>
						</div>
            <% if(message.error) {%>
              <p><%=message.error%></p>
            <% } %>
						<div>
							<input type="submit" value="Submit"/>
						</div>
					</form>
            		</div>
            	</div>
       		</div>
       	</div>
        </body>
    </html>