<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8">
            <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
            <!-- homepage stylesheet -->
            <link rel="stylesheet" href="assets/css/homepage.css">
            <title>JrDevBook</title>
        </head>
<<<<<<< HEAD
=======
        <!-- JrDevBook Robot Logo -->
>>>>>>> ee16c69eb28154149ee13ef4f8bcd4560edf6cb1
        <body>
      <div class="header center-block text-center" id='logo'>
            <div class='form-inline'><img src="http://blog.flamingtext.com/blog/2017/06/14/flamingtext_com_1497479233_446317805.png" border="0"></div>
            <a href='/logout'> <img src='assets/img/JuniorDevbook-Icon.png' alt='robot' style='width:40px;height:50px;' id='robot'></a>
            
        </div>
       	<div class="container center-block text-center" id='userLogin'>
       		<div class="row">
       			<div class="col-xs-12"> 
       				<div>  
					<form action="/login" method="post">
						<div>
							<input type="text" name="username" placeholder="Username" /><br/>
						</div>
						<div>
							<input type="password" name="password" placeholder="Password" />
						</div>
            <% if(message.error) {%>
              <p><%=message.error%></p>
            <% } %>
						<div>
							<input type="submit" value="Submit"/>
						</div>
					</form>
            		</div>
            	</div>
       		</div>
       	</div>
        <footer> <br/>Logo Design by <a href="http://www.flamingtext.com/" ><h4>FlamingText.com</h4></a> </footer>
        </body>
    </html>