<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>News Feed</title>
    <link rel="stylesheet" href="facebook.css">
</head>
<body>
    <div id="uno">
        <button><img src="robotcode.png" alt="robot" style="width:40px;height:50px;" id="robot"></button>
    </div>
    <div id="dos">
        <div id="ichi">Personal Info
            <div id="personal"></div>
        </div>
        <div id="ni">Main News feed
            <input type="text" class="form-control" placeholder="Share what you want." id="two" style="font-size:26px;">
            <input type="submit" value="Post" id="post">
            <% for(var i in feed) { %>
                <div class="three">
                    <%=feed[i].post%>
                </div>
                <% } %>
        </div>
        <div id="san">Trending News
        </div>
    </div>
</body>

</html>
