body {
    height: auto;
    min-height: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #DDFFFF;
}
html {
    height: auto;
    min-height: 100%;
}

.login{
    padding-top: 15%;
}

button {
    display: block;
}

a{
    font-size: 30px;
    font-weight: bold;
    color: black;
    padding-top: 30px;
}

p{
    margin: 1% 0;
}

#logo {
    width: 120px;
}

#robotLogin{
margin-bottom: 1%;
}


#userLogin{
    padding: 0;
    padding-top: 5%;
    width: 100%;
    height: 100%;
    margin: 0;

}

#userLogin div:nth-child(2) {
    margin: 2% 0;
}


.loginCred {
  display: block;
  margin-top: 20px;
  width: 345px;
}

h1 {
  font-family: Microsoft Himalaya;
  font-size: 110px;
  margin: 0;
}

form label{
    background-color: #9db8d3;
}
