body {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: linear-gradient(grey,#3b5998);
/*    background-size: cover;*/
    background-attachment: fixed;
    background-repeat: no-repeat;
}



.profilePicture {
    width: 50px;
}

.authorInfo{
float: left;
}



#dos {
    width: 100%;
    background-color: black;
    margin-top: 5px;
}


/*end primary divs*/


/*start secondary divs*/

#ichi {
    width: 20%;
    height: 450px;
    float: left;
    margin-left: 1%;
    background-color: none;
}


/*inside personal info*/

#personal {
    font-size: 26px;
    overflow: auto;
}

#ni {
    float: left;
    width: 56%;
    height: 1000px;
    margin-left: 1%;
    margin-right: 1%;
    background-color: none;
}

#san {
    float: left;
    height: 450px;
    width: 20%;
    margin-right: 1%;
    background-color: #D5573C;
}


/*end secondary divs*/


/*input ids*/

.postBody {
    width: 95%;
    height:auto;
    margin-left: 2.5%;
    margin-right: 2.5%;
    border: 0px;
    background-color: white;
    margin-top: 60px;
    
}

.authorPost{
    clear: both;
    font-size: 30px;
    border-top: 2px black solid; 
    border-bottom: 2px black solid; 
    height: auto;
}

.authorInfo p {
    font-size: 20px
}

.authorPost p {
 text-align: left;
 padding-top: 20px;
}


/*paragraph within commentsDiv*/
.commentsDiv p{
    clear: both;
    text-align: left;
    border-top: 1px grey solid;
    padding: 1% 0;
}

/*comment*/
.commentsText{
    font-weight: bold;
    font-size: 20px
}

/*text color change for the date the comment was*/
.commentDate {
    color: #0000EE;
    float: right;
}


.commentAuthor {
font-weight: bold;
}

#two {
    width: 95%;
    height: 60px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    border: 0px;
}

#post,
.Like {
    margin-top: 5px;
    width: 50px;
    height: 30px;
    float: right;
    margin-right: 2.5%;
    text-align: center;
}

.Comment {
    margin-top: 5px;
    width: 90px;
    height: 30px;
    float: right;
    margin-right: 2.5%;
    text-align: center;
}





/*start primary divs*/

/*#uno {
    width: 98%;
    height: 60px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}*/


/*inside uno div*/

/*#robot {
    display: inline-block;
}*/