body {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(#39BB42, #BF9932);
    background-repeat: no-repeat;
    height: auto;
}
/*start primary divs*/

html{

  height: 100vh;
}
#head1,#head2,#head3{
  display: inline-block;
}

.name{

  display: inline-block;
}
#head1{
  margin-left:300px;
}
.name{
  margin-left: 400px;
}
#link, #email,#password{
  margin-left: 4s00px;
}
#submit{
  margin-left: 415px;
  color: orange;
}
.createAccount{
  background: ;
  width: 50%;
  height: auto;
  margin-left: 50px;

}
